.footer {
    background-color: $colour-footer;
    color: $colour-white;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1rem 0 1.5rem 1rem;

    h2 {
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
        padding: .5rem;

        @include responsive(desktop) {
            text-align: center;
        }
    }

    a {
        color: $colour-white;
    }

    ul {
        padding-left: .5rem;

        @include responsive(desktop) {
            display: flex;
            justify-content: space-around;
        }

        li {
            padding-top: .5rem;
        }
    }

    span {
        width: 20px;
    }
}

.footer-container {

    @include responsive(desktop) {
        margin: auto;
        max-width: 1280px;
        width: 75%;
    }
}
