html {
  font-size: 100%;
}

body {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: initial;
  outline: none;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.btn {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: 0;
  border-radius: 42px;
  box-shadow: 0 3px 10px 0 #9c9c9c;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin: 1.5rem;
  padding: 1.3rem .5rem;
  width: 225px;
}
@media screen and (min-width: 1024px) {
  .btn {
    width: 250px;
  }
}
.btn:hover {
  box-shadow: 0 3px 10px 0 #000;
  opacity: .9;
}

.heart-layout {
  align-self: center;
  display: flex;
  margin: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .heart-layout {
    margin: 0 auto 0 0;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .heart-layout {
    margin: 0 auto 0 0;
    padding: 20px;
  }
}

span.fa-top {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 0;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
span.far {
  z-index: 1;
  cursor: pointer;
}
span.far:hover + .fa-top {
  animation: remplit 1s ease-out 1 forwards;
}

@keyframes remplit {
  from {
    background-size: 100% 0;
    font-weight: 800;
  }
  to {
    background-size: 100% 100%;
    font-weight: 800;
    opacity: 1;
  }
}
.explorer {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .explorer {
    flex-basis: 100%;
  }
}
.explorer__area {
  background-color: #e7e7e7e8;
  box-shadow: 5px 5px 5px -8px inset;
  margin: 0;
  padding: .7rem 0;
  text-align: center;
  width: 100%;
}
.explorer__area span {
  padding: 5px;
}
.explorer__tittle {
  margin: 0;
  padding: 1rem 0 0;
  text-align: center;
  width: 65%;
}
.explorer__slogan {
  font-weight: 300;
  margin: .5rem 0;
  padding: .5rem;
  text-align: center;
  width: 75%;
}

.grey {
  color: #9c9c9c;
}

.pink {
  color: #9356dc;
}

.background-pink {
  background: #f9ecf5;
}

.steps-area {
  margin: 1.5rem 1.5rem 5rem;
}
@media screen and (min-width: 1024px) {
  .steps-area {
    flex-basis: 50%;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 15rem;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .steps {
    align-items: center;
  }
}
.steps__number {
  background-color: #9356dc;
  border-radius: 100%;
  color: #fff;
  margin-left: -2.2rem;
  padding: 4px 9px;
}
.steps li {
  border-radius: 20px;
  box-shadow: 0 2px 10px -5px;
  margin: .8rem 0;
  padding: 1.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .steps li {
    width: 34%;
  }
}
.steps li .fas {
  font-size: 1rem;
  margin: 0 15px;
  text-align: center;
  width: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .steps li .fas {
    margin: 0 1.5rem;
  }
}

.restaurant {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 4rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant {
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurant__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 3.5rem;
}
.restaurant__info span {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant h2 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant h2 {
    flex-basis: 100%;
  }
}
.restaurant article {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 15px #9c9c9c;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: .5rem 0;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant article {
    flex-basis: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant article {
    flex-basis: 45%;
  }
}
.restaurant article .img {
  border-radius: 25px 25px 0 0;
  height: 140px;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}
.restaurant article .img__centre {
  object-position: center 60%;
}
.restaurant article h4 {
  margin: 0;
  padding: .3rem 0 0 1.5rem;
}
.restaurant article p {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  justify-content: space-between;
  margin: 0;
  padding: .3rem 0 0 1.5rem;
  width: 60%;
}

.new::after {
  background: #99e2d0;
  border-radius: 2px;
  color: #278870;
  content: 'Nouveau';
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -11.8rem;
  padding: .4rem .7rem;
  text-align: center;
  width: 75px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 110%;
    justify-content: center;
  }
}

header a {
  color: #363636;
  font-size: 1.7rem;
  margin-left: 25px;
  position: absolute;
}

.tittle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tittle__heart {
  background: #fff;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -2rem 0;
}
.tittle img {
  height: 17.2rem;
  object-fit: cover;
  width: 100%;
}
.tittle h2 {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.7rem;
  font-weight: 100;
  padding: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .tittle h2 {
    align-self: center;
    margin-left: auto;
  }
}

.menu {
  margin: .5rem 1rem;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 30%;
  }
}
.menu h3 {
  border-bottom: 3px solid #99e2d0;
  font-weight: 300;
  margin-top: 2rem;
  padding-bottom: 5px;
  width: 45px;
}
.menu ul {
  padding: 0;
}
.menu .delay--1 {
  animation-delay: 200ms;
}
.menu .delay--2 {
  animation-delay: 400ms;
}
.menu .delay--3 {
  animation-delay: 600ms;
}
.menu .delay--4 {
  animation-delay: 800ms;
}
.menu li {
  animation: fondu-menu 1s ease backwards;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px #9c9c9c;
  display: flex;
  margin: 1rem .5rem 0 0;
  padding: .3rem;
}
@keyframes fondu-menu {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu li h4 {
  flex-basis: 100%;
  margin: .5rem .5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu li p {
  font-size: .9rem;
  margin: .2rem .5rem .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu li span {
  font-weight: bold;
}
.menu li div {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu li .price {
  align-self: end;
  font-weight: bold;
  margin: .2rem -2rem .5rem 0;
}
.menu li:hover .fa-check-circle {
  animation: slide 500ms ease forwards;
  transform-origin: right;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(4rem);
  }
}
.menu li:hover .fa-check-circle::before {
  animation: rotate 500ms both;
  transform: rotate(180deg);
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu li:hover .price {
  padding-right: 50px;
  transition: all .5s ease;
}
.menu li .fa-check-circle {
  align-items: center;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  display: flex;
  font-size: x-large;
  justify-content: center;
  margin: -.3rem;
  opacity: 0;
  padding: 1rem;
  white-space: nowrap;
  width: 4rem;
}
.menu li .fa-check-circle::before {
  overflow: hidden;
  transform: rotate(0deg);
  white-space: nowrap;
}

.layout-btn {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
@media screen and (min-width: 1024px) {
  .layout-btn {
    flex-basis: 100%;
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5rem;
}
.header img {
  margin: auto;
}

.footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem 0 1.5rem 1rem;
}
.footer h2 {
  font-family: 'Shrikhand', sans-serif;
  font-weight: 100;
  padding: .5rem;
}
.footer a {
  color: #fff;
}
.footer ul {
  padding-left: .5rem;
}
@media screen and (min-width: 1024px) {
  .footer ul {
    display: flex;
    justify-content: space-around;
  }
}
.footer ul li {
  padding-top: .5rem;
}
.footer span {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .footer-container {
    margin: auto;
    min-width: 1280px;
  }
}

/*# sourceMappingURL=style.css.map */
