.btn {
    background: linear-gradient(to bottom, $colour-secondary , $colour-primary);
    border: 0;
    border-radius: 42px;
    box-shadow: 0 3px 10px 0 $color-grey;
    color: $colour-white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 1.5rem;
    padding: 1.3rem .5rem;
    width: 225px;

    @include responsive(desktop) {
        width: 250px;
    }

    &:hover {
        box-shadow: 0 3px 10px 0 $color-black;
        opacity: .9;
    }
}
