.heart-layout {
    align-self: center;
    display: flex;
    margin: auto;

    @include responsive(tablet) {
        margin: 0 auto 0 0;
        padding: 20px;
    }

    @include responsive(desktop) {
        margin: 0 auto 0 0;
        padding: 20px;
    }
}

span {

    &.fa-top {
        background-image: linear-gradient(0deg, $colour-primary 0%, $colour-secondary 100%);
        background-position: bottom;
        background-repeat: no-repeat;
        color: transparent;
        height: 1.3rem;
        opacity: 0;
        position: absolute;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    &.far {
        cursor: pointer;
        z-index: 1;

        &:hover {
                animation: disparition 1s ease-out forwards;

            + .fa-top {
                animation: remplit 1s ease-out 1 forwards;
            }
        }
    }
}

@keyframes disparition {
    from {

        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

@keyframes remplit {
    from {
        background-size: 100% 0;
    }

    to {
        background-size: 100% 100%;
        opacity: 1;
    }
}
