body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 100;
}

a {
    color: initial;
    outline: none;
    text-decoration: none;
}

li {
    list-style: none;
}
