main {

    @include responsive(desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 110%;
        justify-content: center;
    }
}

header {

    a {
        color: $colour-backbtn;
        font-size: 1.7rem;
        margin-left: 25px;
        position: absolute;
    }
}


.tittle {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__heart {
        background: $colour-white;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: -2rem 0;
    }

    img {
        height: 17.2rem;
        object-fit: cover;
        width: 100%;
    }

    h2 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.7rem;
        font-weight: 100;
        padding: 0 1rem;

        @include responsive(desktop) {
            align-self: center;
            margin-left: auto;
        }
    }
}

.menu {
    margin: .5rem 1rem;

    @include responsive(desktop) {
        width: 30%;
    }

    h3 {
        border-bottom: 3px solid $colour-tertiary;
        font-weight: 300;
        margin-top: 2rem;
        padding-bottom: 5px;
        width: 45px;
    }

    ul {
        padding: 0;
    }

    .delay {
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 200ms * $i;
            }
        }
    }

    li {
        animation: fondu-menu 1s ease backwards;
        background-color: $colour-white;
        border-radius: 15px;
        box-shadow: 0 0 15px $color-grey;
        display: flex;
        margin: 1rem .5rem 0 0;
        padding: .3rem;

        @keyframes fondu-menu {
            from {
                opacity: 0;
                transform: translateY(.5rem);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        h4 {
            flex-basis: 100%;
            margin: .5rem .5rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            font-size: .9rem;
            margin: .2rem .5rem .5rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            font-weight: bold;
        }

        div {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .price {
            align-self: end;
            font-weight: bold;
            margin: .2rem -2rem .5rem 0;
        }

        &:hover {

            .fa-check-circle {
                animation: slide 500ms ease forwards;
                transform-origin: right;

                @keyframes slide {
                    0% {
                        opacity: 0;
                        transform: scaleX(0);
                    }

                    100% {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }

                &::before {
                    animation: rotate 500ms both;
                    transform: rotate(180deg);

                    @keyframes rotate {
                        0% {
                            transform: rotate(0);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                      }
                }
            }

            .price {
                padding-right: 50px;
                transition: all .5s ease;
            }
        }

        .fa-check-circle {
            align-items: center;
            background: $colour-tertiary;
            border-radius: 0 15px 15px 0;
            color: $colour-white;
            display: flex;
            font-size: x-large;
            justify-content: center;
            margin: -.3rem;
            opacity: 0;
            padding: 1rem;
            white-space: nowrap;
            width: 4rem;

            &::before {
                overflow: hidden;
                transform: rotate(0deg);
                white-space: nowrap;
            }
        }
    }
}

.layout-btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    @include responsive(desktop) {
        flex-basis: 100%;
    }
}
