$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-background: #f2f2f2;

$colour-footer: #353535;

$colour-backbtn: rgb(54, 54, 54);

$colour-white: #fff;
$color-grey: #9c9c9c;
$color-black: #000000;
$color-green: #278870;



